[submodule "Chapter02"]
	path = Chapter02
	url = https://github.com/Gus3446-ych/Chapter02.git
	branch = main
[submodule "Chapter03"]
    	path = Chapter03
    	url = https://github.com/Gus3446-ych/Chapter03.git
		branch = main
[submodule "Chapter04"]
	path = Chapter04
	url = https://salgilbarana@github.com/Gus3446-ych/Chapter04.git
	branch = main
[submodule "Chapter05"]
	path = Chapter05
	url = https://salgilbarana@github.com/Gus3446-ych/Chapter05.git
	branch = main
[submodule "Chapter06"]
	path = Chapter06
	url = https://salgilbarana@github.com/Gus3446-ych/Chapter06.git
	branch = main
[submodule "Chapter07"]
	path = Chapter07
	url = https://salgilbarana@github.com/Gus3446-ych/Chapter07.git
	branch = main
[submodule "Chapter09"]
	path = Chapter09
	url = https://salgilbarana@github.com/Gus3446-ych/Chapter09.git
	branch = main
[submodule "Supplement"]
	path = Supplement
	url = https://salgilbarana@github.com/Gus3446-ych/useLiveAnalysis.git
